
@{
    ViewBag.Title = "Login";
    Layout = "";
}

@section Styles{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.4.2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.4.2/sweetalert2.min.css" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />
    <title>Login</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    @*<link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">*@
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">

    @*<link rel="icon" type="image/png" href="@Url.Content("~/Content/img/favicon-grupo-sion.png")">*@

    <script>
            var baseURL = '@Url.Content("~/")';
    </script>
    @Scripts.Render("~/bundles/customs")

</head>
<body class="hold-transition login-page" onload="deshabilitaRetroceso();">

    <div id="loadingSp" style="display:none">
        <div class="spinner"></div>
    </div>

    <div class="login-box" style="box-shadow: 0 0 30px #272424">

        <div class="card card-outline card-success">

            <div class="card-header text-center">
                @*<a class="h1" style="font-family:Cambria"><b>XP</b> Xperto</a>*@
                <img src="~/Content/Images/Xperto.png" class="img-fluid">
            </div>
            <!-- /.login-logo -->

            <div class="card-body">
                <p class="login-box-msg" style="font-family:Cambria">INICIAR SESION</p>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="usuario" placeholder="Usuario" autocomplete="off" oninput="this.value = this.value.toUpperCase()">
                    @*<input type="text" class="form-control" id="usuario" style="text-transform:uppercase;" placeholder="Usuario" autocomplete="off" onkeyup="javascript:this.value=this.value.toUpperCase();">*@
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" style="font-weight:bold">Almacén:</span>
                    </div>
                    <select class="form-control" id="idalmacen">
                        @*@foreach (var item in ViewBag.ListaAlmacen)
                            {
                                <option id="select" value="@item.Id">@item.Nombre</option>
                            }*@
                    </select>
                </div>

                <div class="row">

                    <!-- /.col -->
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-block" style="border-color: black; font-family: Cambria;" onclick="Iniciar()">  Iniciar Sesión </button>
                    </div>
                    <!-- /.col -->
                </div>


                <!-- /.social-auth-links -->


            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>

</body>
</html>


@*<script src="~/Scripts/Login.js"></script>*@

<script>
    $('#usuario').focus();
</script>


@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
}


<style type="text/css">

    .spinner {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
        justify-self: center;
        margin: 20%;
    }

    #loadingSp {
        position: fixed; /* Fijar el elemento en la pantalla */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none; /* Inicialmente oculto */
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
        justify-content: center; /* Centrado horizontal */
        align-items: center; /* Centrado vertical */
        z-index: 9999; /* Asegura que el spinner esté encima de otros elementos */
        display: flex; /* Usa flexbox para centrar */
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>


@Html.Partial("~/Views/ScriptLogin.cshtml")